<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="https://glitch.com/favicon.ico" />

        <title>Can I also use?</title>

        <link rel="stylesheet" href="/style.css" />

        <script src="/script.js" type="module"></script>
    </head>
    <body>
        <div id="app">
            <p>The selected features are supported in {{supported_usage.toFixed(2)}}% of observed browsers.</p>

            <input type="text" v-model="search">
            <ul v-for="item in shown_features">
                <li>
                    <label><input type="checkbox" v-model="item.included"> <strong v-if="item.included">!</strong>{{item.name}} - {{item.compat.description}} - ({{item.supported_usage.toFixed(2)}}%)</label>
                </li>
            </ul>
        </div>
    </body>
</html>
