<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Can I also use?</title>

        <link rel="stylesheet" href="style.css" />

        <script src="script.js" type="module"></script>
    </head>
    <body>
        <div id="loading">
            <p>The data is being loaded. It's quite big, so this can take some time!</p>
        </div>
        <main id="app">
            <section id="status">
                <h1>Can I also use?</h1>

                <div>
                    <p>
                        The selected features are supported in {{supported_usage.toFixed(2)}}% of observed browsers.
                    </p>
                    <p>
                        Compatibility data was last updated <time :datetime="last_updated.toISOString()">{{last_updated.toLocaleDateString()}}</time>.
                    </p>
                </div>

                <div id="file">
                    <download-file :data="tree.serialize()" filename="can-i-also-use-settings.json">Download these settings</download-file>
                    <label>Load a settings file: <input type="file" @change="upload_settings" id="upload-settings"></label>
                </div>

                <a href="help.html">How to use</a>
            </section>
            <section id="browser-support">
                <table id="browser-support-table">
                    <thead>
                        <tr>
                            <th>Browser</th>
                            <th>Minimum version</th>
                            <th>Release date</th>
                            <th>Features requiring this version</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="d in supported_versions_summary" :key="d.name" :class="{'not-supported': d.version==Infinity}">
                            <td>{{d.name}}</td>
                            <td class="version">
                                <p>
                                    <span v-if="d.version==Infinity">Not supported</span>
                                    <span v-if="d.version==-Infinity">All versions</span>
                                    <span v-if="isFinite(d.version)">Version <strong>{{d.version}}</strong> or later</span>
                                </p>
                                <p>
                                    <small>Excluding {{d.unsupported_usage.toFixed(2)}}% of all browsers</small>
                                </p>
                            </td>
                            <td class="release-date">
                                <span v-if="d.release">{{d.release.release_date}}</span>
                            </td>
                            <td class="blocking-features">
                                <ul>
                                    <li v-for="f in d.blocking_features" :key="f.name">
                                        <label>
                                            <input v-model="f.included" type="checkbox">
                                            <span v-if="f.description" class="description" v-html="f.description"></span>
                                            <code v-else>{{f.name}}</code>
                                        </label>
                                        <mdnlink :feature="f"></mdnlink>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section id="feature-tree">
                <nav id="search-bar">
                    <label for="search">Search for a feature:</label>
                    <form @submit.prevent="do_search">
                        <input type="text" v-model="staged_search">
                        <button type="submit">Search</button>
                        <button type="button" @click="clear_search">Clear search</button>
                    </form>
                </nav>

                <ul>
                    <li v-for="subtree in tree.subtrees" :key="subtree.name"><featuretree :tree="subtree" :search="search"></featuretree></li>
                </ul>
            </section>
            
            <section id="included-features">
                <h2>Included features</h2>
                <ul>
                    <li v-for="f in included_features" :key="f.name">
                        <featureselector :feature="f"></featureselector>
                    </li>
                </ul>
            </section>
        </main>
    </body>
</html>
