:root {
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}
body {
  margin: 0;
}

body:not(.loaded) #app, body.loaded #loading {
    display: none;
}

#app {
  padding: 0.5em;
  display: grid;
  grid-gap: 0;
  grid-template: 
    "status status" auto 
    "browser-support feature-tree" auto
    "browser-support included-features" auto
    /
    1fr 1fr;
  height: 100vh;
}

#app > section {
  overflow-y: auto;
  border: 2px solid black;
  padding: 0.5em;
}

details > summary {
  cursor: pointer;
}

ul {
  list-style: none;
}

#status {
  grid-area: status;
  display: grid;
  align-items: baseline;
  grid-gap: 1em;
  grid-template: auto / auto 1fr auto auto;
  justify-items: center;
}

#browser-support {
  grid-area: browser-support;
}

#browser-support-table {
  width: 100%;
  border-collapse: collapse;
}
#browser-support-table :is(td,th) {
  border: 1px solid;
  padding: 0.5em;
}

.not-supported td {
  opacity: 0.5;
}

#app > #feature-tree {
  grid-area: feature-tree;
  padding: 0 2em 2em 0;
  position: relative;
}

#search-bar {
  position: sticky;
  top: 0;
  background: white;
  padding: 0.5em;
  width: 100%;
}

#feature-tree > ul {
  overflow-x: auto;
  width: 100%;
}

#feature-tree ul {
  padding-left: 1em;
}

.feature-selector {
  display: flex;
  grid-gap: 1em;
  align-items: baseline;
}
.feature-selector label {
  display: inline-block;
  white-space: nowrap;
}

#feature-tree li ~ li {
  margin-top: 0.3em;
}

#feature-tree label:hover {
  background: hsl(60,70%,70%);
}

#included-features {
  grid-area: included-features;
}

.blocking-features > ul {
  height: 10em;
  overflow-y: auto;
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}


input[name="tab"], #app > label {
  grid-row: radios;
}

input[name="tab"]:checked + label {
  font-weight: bold;
}

input[name="tab"]:not(:checked) + label + section {
  display: none;
}

.mdn {
  margin: 0 0.5em;
}
